@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

[data-clipboard="copy"], 
{
	position: relative;
}

[id*='copya']
{
	position: absolute;
	right: 1em;
	top: 1em;
	font-size: 18px;
	z-index: 1000;
}

[id*='copya'] i:hover
{
	color: #555;
	cursor: pointer;
}
.copiedmessage {
	font-size: 15px;
	font-family: 'Rubik';
	background-color: #ffffffee;
	box-shadow: 0px 0px 10px #00000033;
	color: black;
	padding: 10px 20px;
	border-radius: 8px;
	position: absolute;
	z-index: 10000;
	right: 3em;
	top: 0.5em;
	font-weight: 100;
	display: none;
	opacity: 0;
	transition: 0.2s;
}
